<style>
  main {
    width: 100%;
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    box-sizing: inherit;
    position: relative;
  }

  .content {
    display: flex;
    justify-content: space-around;
    width: 100%;
    max-width: 700px;
    margin-bottom: 3rem;
  }
</style>

<main class="main">
  <div class="content">
    <div class="container mt-5">
      En este portal encontrar&aacute; informaci&oacute;n relacionada con los
      tr&aacute;mites y servicios que ofrece la entidad, as&iacute; como la posibilidad de
      instaurar una Petici&oacute;n, Queja, Reclamo, Sugerencia o Denuncia (PQRSD) y realizar
      seguimiento a las mismas.
      
      <table
        class="table caption-top table-striped table-hover table-responsive"
      >
        <caption>
          Lista de tr&aacute;mites activos en la entidad
        </caption>
        <thead class="table-primary">
          <tr style="text-align: center; vertical-align: middle">
            <th scope="col">Nombre</th>
            <th scope="col">Descripci&oacute;n</th>
            <th scope="col">D&iacute;as H&aacute;biles</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of tramites">
            <td style="text-align: left">{{ item.nombre }}</td>
            <td style="text-align: justify">{{ item.descripcion }}</td>
            <td style="text-align: center">{{ item.dias }}</td>
          </tr>
        </tbody>
      </table>
      <div>
        <fieldset>
          <table class="table caption-top">
            <caption>
              Qu&eacute; acci&oacute;n desea realizar ?
            </caption>
            <tr>
              <td style="text-align: center">
                <a [routerLink]="['/rdccpqrsd']" href="rdccpqrsd">
                  <button type="button" class="btn btn-outline-primary">
                    Instaurar PQRSD
                  </button>
                </a>
              </td>
              <td style="text-align: center">
                <a routerLink="/rdccpqrsd">
                  <button type="button" class="btn btn-outline-primary">
                    Consultar PQRSD
                </button>
                </a>
              </td>
            </tr>
          </table>
        </fieldset>
      </div>
    </div>
  </div>
</main>

<router-outlet></router-outlet>
